dot-config/*

!dot-config/alacritty
!dot-config/hypr
dot-config/hypr/.env.hyprland
!dot-config/btop
!dot-config/rofi
!dot-config/xkb
!dot-config/tmux-sessionizer
!dot-config/zathura
!dot-config/zellij

# zen browser

dot-local/bin/zen
